.App {
  text-align: center;
  background-color: rgb(249, 249, 249);

}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


@keyframes moveLeft {
  0% {
    margin-left: 0px;
  }
  100% {
    margin-left: 200px;
  }
}

.card-test {
  /* border: solid;
  margin-left: 200px;
  animation: moveLeft;
  animation-duration: 5s; */
}

.menu-wrapper {
  /* position: relative;
  margin-bottom: 14px; */
}

.ui.secondary.vertical.menu.vertical-menu {
  /* height: 100%;
  background-color: yellow; */
}

.ui.vertical.ui.left.visible.sidebar.menu.vertical-menu {
  margin-top: 51.42px !important;
  box-shadow: none;

}


.ui.fluid.card.event {
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 5%;

}

.event-card h3, p {
  margin-top: 20px;
}

.person {
  background-color: white;
  display: inline-block;
  border-style: solid;
  border-color: white;
  width: 200px;
  height: 200px;
  padding: 2%;
  margin-right: 2%;
  margin-top: 2%;
}

.selected-person {
  border-color: blue;
}

#event-person-card {
  /* display: inline-block; */
}

#remove-gift {
  display: inline-block;
}


.gift-image {
  height: 100px;
  width: 100px;
  overflow: hidden;
  display: inline-block;
}

img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  display: inline-block;
}


/* ########################## DASHBOARD ################################## */
#checklist-container {
  background-color: white;
  width: 400px;
  padding-left: 20px;
  padding-top: 20px;
}

.unchecked {
  color: rgb(220, 220, 220);
}

.inline {
  display: inline-block;
}

#next-event {
  padding-left: 30px;
}

.margin {
  margin-left: 50px;
}

/* ##########################   BUDGET PAGE   ############################ */

.planner-content {
  padding-top: 90px;
  padding-left: 15%;
  padding-right: 10%;
  background-color: rgb(249, 249, 249);
}

.border-line {
  border-style: solid;
  border-width: thin;
  border-color: black;
}

.year-arrow {
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
}

.budget-circle-container {
  margin-top: 50px;
}

.budget-main-circle {
  width: 175px;
  display: inline-block;
  margin-left: 50px;

}

.budget-spend-circle {
  width: 125px;
  display: inline-block;
  margin-left: 100px;

}

/* #######  BUDGET PAGE CIRCLE PROGRESS BARS   ############################ */
/*############################################################################S
 * react-circular-progressbar styles
 *
 * All of the styles in this file are optional and configurable!
 */

.CircularProgressbar {
  /*
   * This fixes an issue where the CircularProgressbar svg has
   * 0 width inside a "display: flex" container, and thus not visible.
   *
   * If you're not using "display: flex", you can remove this style.
   */
  width: 100%;
}

.CircularProgressbar .CircularProgressbar-path {
  stroke: #3e98c7;
  stroke-linecap: round;
  transition: stroke-dashoffset 0.5s ease 0s;
}

.CircularProgressbar .CircularProgressbar-trail {
  stroke: #d6d6d6;
}

.CircularProgressbar .CircularProgressbar-text {
  fill: #3e98c7;
  font-size: 20px;
  dominant-baseline: middle;
  text-anchor: middle;
}

.CircularProgressbar .CircularProgressbar-background {
  fill: #d6d6d6;
}

/*
 * Sample background styles. Use these with e.g.:
 *
 *   <CircularProgressbar
 *     className="CircularProgressbar-inverted"
 *     background
 *     percentage={50}
 *   />
 */
.CircularProgressbar.CircularProgressbar-inverted .CircularProgressbar-background {
  fill: #3e98c7;
}

.CircularProgressbar.CircularProgressbar-inverted .CircularProgressbar-text {
  fill: #fff;
}

.CircularProgressbar.CircularProgressbar-inverted .CircularProgressbar-path {
  stroke: #fff;
}

.CircularProgressbar.CircularProgressbar-inverted .CircularProgressbar-trail {
  stroke: transparent;
}
