.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


@keyframes moveLeft {
  0% {
    margin-left: 0px;
  }
  100% {
    margin-left: 200px;
  }
}

.card-test {
  /* border: solid;
  margin-left: 200px;
  animation: moveLeft;
  animation-duration: 5s; */
}

.menu-wrapper {
  /* position: relative;
  margin-bottom: 14px; */
}

.ui.secondary.vertical.menu.vertical-menu {
  /* height: 100%;
  background-color: yellow; */
}

.ui.vertical.ui.left.visible.sidebar.menu.vertical-menu {
  margin-top: 51.42px !important;
  box-shadow: none;

}

.gift-planner-wrapper {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
}



.planner-content {
  padding-top: 90px;
  padding-left: 30%;
  text-align: center;
}
