@import url('https://fonts.googleapis.com/css?family=Cherry+Swash|Nanum+Myeongjo');

.App {
  text-align: center;
  background-color: rgb(249, 249, 249);

}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


@keyframes moveLeft {
  0% {
    margin-left: 0px;
  }
  100% {
    margin-left: 200px;
  }
}

.ui.massive.secondary.top.fixed.header.menu {
  box-shadow: none;
  /* border-bottom: solid;
  border-bottom-width: medium;
  border-bottom-color: rgb(249, 249, 249); */
  background-color: rgb(255, 239, 234);
  height: 70px;
  /* padding-left: 50px; */
  padding-right: 50px;

}

.ui.vertical.ui.left.visible.sidebar.menu.vertical-menu {
  margin-top: 70px !important;
  box-shadow: none;
  border-top: none;
}

.ui.vertical.overlay.right.visible.sidebar.form.menu {
  height: 100vh !important;
}

#logo.item {
  /* margin-left: 100px; */
  color: #FF533D;
  font-family: 'Cherry Swash', cursive;
  font-size: 30px;
}

h1 {
  color: #FF533D;
  /* font-family: 'Nanum Myeongjo', serif; */
}

h3 {

}

a {
  color: black !important;
}

a:hover {
  color: #FF533D !important;
  font-weight: bold;
}

/* #app {
  background-color: rgb(249, 249, 249);
  height: 100vh;
} */

#event-list {
  height: 100vh;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: rgb(249, 249, 249) !important;
}

/* .ui.massive.inverted.top.fixed.menu {

}

.ui.basic.segment {
  display: flex;
  flex-direction: column;
} */

.pusher {
  height: 100%;
}

.pushable {
  transform: none !important;
}

/* .container {
  display: flex;
  flex-direction: column;
} */

.planner-content {
  margin-top: 90px;
  margin-left: 150px;
  margin-bottom: 50px;
  padding-left: 5%;
  padding-right: 5%;
  background-color: rgb(249, 249, 249);
  min-height: 100vh;

}


/* ####### PEOPLE PAGE ############ */

#people-header {
  margin-left: 150px;
  padding-bottom: 40px;
  padding-top: 110px;
  padding-left: 5%;
  padding-right: 10%;
  /* background-color: white; */
  background-image: url("https://res.cloudinary.com/dum7xzjkm/image/upload/v1555467260/etcdycn6jtj0g8ynotxf.png");
  background-repeat: no-repeat;
}

#add-person-button {
  float: right;
  display: inline-block;
  background-color: #ff7766;

}

.people-content {
  margin-top: 20px;
  margin-left: 150px;
  margin-bottom: 50px;
  padding-left: 5%;
  padding-right: 5%;
  background-color: rgb(249, 249, 249);
  min-height: 100vh;
}

.ui.card.contact-person {
  text-align: center;
  box-shadow: none;
}

.person-name {
  font-size: 1.25em;
}

/* ######### END PEOPLE PAGE ########### */

/* ######### GIFT SHOW PAGE ############ */

.person-show-content {
  margin-left: 150px;
  padding-bottom: 40px;
  padding-top: 110px;
  padding-left: 5%;
  padding-right: 10%;
  min-height: 100vh;

}

.edit-person-button {
  float: right;
  display: inline-block;
}

.person-add-notes:hover {
  cursor: pointer;
  color: #FF533D;

}

.person-note-container {
  margin-top: 40px;
}

.person-notes {
  max-width: 400px;
  max-height: 200px;
  overflow-y: scroll;
  white-space: pre-wrap;
  background-color: white;
  padding: 10px;
}

.ui.card.person-detail.card {
  width: 300px;
  box-shadow: none;
  background-color: inherit;
  margin-bottom: 30px;
}

.ui.card.person-event {
  box-shadow: none;
  padding: 10px;
  text-align: center;
}

.ui.card.person-gift {
  box-shadow: none;
  padding: 10px;
}

.person-detail-container {
  margin-top: 50px;
}

.ui.image.person-gift {
  max-height: 200px;
}

/* ######### END GIFT SHOW PAGE ############ */

.person {
  background-color: white;
  display: inline-block;
  border-style: solid;
  border-color: white;
  width: 200px;
  height: 200px;
  padding: 2%;
  margin-right: 2%;
  margin-top: 2%;
}

.selected-person {
  border-color: blue;
}

#event-person-card {
  /* display: inline-block; */
}

#remove-gift {
  display: inline-block;
  background-color: rgb(255, 236, 231);
  color: #FF533D;
}


.gift-image {
  height: 100px;
  width: 100px;
  overflow: hidden;
  display: inline-block;
}

img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  display: inline-block;
}

/* ########### GIFTS PAGE ########### */

#gifts-header {
  margin-left: 150px;
  padding-bottom: 40px;
  padding-top: 110px;
  padding-left: 5%;
  padding-right: 10%;
  /* background-color: white; */
  background-image: url("https://res.cloudinary.com/dum7xzjkm/image/upload/v1555467260/etcdycn6jtj0g8ynotxf.png");
  background-repeat: no-repeat;
}

#add-gift-button {
  float: right;
  display: inline-block;
  background-color: #ff7766;

}

.gifts-content {
  margin-top: 20px;
  margin-left: 150px;
  margin-bottom: 50px;
  padding-left: 5%;
  padding-right: 5%;
  background-color: rgb(249, 249, 249);
  min-height: 100vh;
}

.header.gift-name {
  font-weight: normal !important;
}

.gift-filters {
  margin-bottom: 20px;
}

.gift-filter {
  margin-right: 10px;
}

.ui.card.gift {
  color: black;
  box-shadow: none !important;
}

.ui.image.gift {
  max-height: 200px;
}


/* ########### GIFT SHOW PAGE ########### */

.gift-show-content {
  margin-left: 150px;
  padding-bottom: 40px;
  padding-top: 110px;
  padding-left: 5%;
  padding-right: 10%;
  min-height: 100vh;

}

.edit-gift-button {
  float: right;
  display: inline-block;
}

.gift-show-image {
  max-height: 400px;
  width: auto;
  display: inline-block;
  vertical-align: middle;
}

.gift-details {
  display: inline-block;
  vertical-align: middle;
  margin-left: 20px;
  width: 200px;
}

.ui.card.save-card {
  width: 300px;
  box-shadow: none;
  background-color: inherit;
  color: black;
}

.ui.card.history-card {
  width: 300px;
  box-shadow: none;
  background-color: inherit;
  color: black;
  margin-bottom: 30px;
}

.heart.large.icon {
  color: #FF533D;
  float: left;
  margin-right: 10px;
  display: inline-block;
}

.heart.large.icon:hover {
  cursor: pointer;
}

.close.large.icon.form:hover {
  cursor: pointer;
}


.save-container {
  margin-top: 20px;
}

div.ui.card.save-form {
  box-shadow: none;
  background-color: rgb(249, 249, 249);
}

.save-to-person {
  display: inline-block;
  max-width: 200px;

}


.title {
  font-size: 20px;
}

#store-link {
  color: #FF533D !important;
}




/* ########### CHECKLIST ############## */

#checklist-header {
  margin-left: 150px;
  padding-bottom: 40px;
  padding-top: 110px;
  padding-left: 5%;
  padding-right: 10%;
  /* background-color: white; */
  background-image: url("https://res.cloudinary.com/dum7xzjkm/image/upload/v1555467260/etcdycn6jtj0g8ynotxf.png");
  background-repeat: no-repeat;

}

#add-event-button {
  float: right;
  display: inline-block;
  background-color: #ff7766;
}

.checklist-content {
  padding-top: 20px;
  margin-left: 150px;
  margin-bottom: 50px;
  padding-left: 5%;
  padding-right: 5%;
  background-color: rgb(249, 249, 249);
  min-height: 100vh;

}

#event-container {
  margin-top: 30px;
}

.checklist-month {
  margin-bottom: 20px;
  margin-top: 40px;
}

/* checklist event cards */
.ui.fluid.card.event {
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 5%;
  color: black;
  box-shadow: none;
}

.event-name {
  font-size: 18px;
}

.form {
  padding: 2%
}

.form-header {
  margin-bottom: 10px;
  display: inline-block;
  font-size: 20px;
}

.close.large.icon.form {
  float: right;
}


.check.circle.outline.big.icon.checked.inline {
  color: rgb(29, 122, 201);
}


.check.circle.outline.big.icon.unchecked.inline {
  color: rgb(220, 220, 220);
}


/* ################## EVENT PAGE ##################################### */


#find-gift-person {
  height: 300px;
  padding-top: 100px;
  text-align: center;

}

#gift-pic {
  max-height: 200px;
  cursor: pointer;
}

#gift-pic:hover {

}

#event-person-name {
  font-size: 1.4em;
  display: inline-block;
  margin-bottom: 20px;
}

.event-show-content {
  margin-left: 150px;
  padding-bottom: 40px;
  padding-top: 110px;
  padding-left: 5%;
  padding-right: 10%;
  min-height: 100vh;

}

.text-align-center {
  text-align: center;
}

.edit-event-button {
  float: right;
  display: inline-block;
}


.heart.outline.large.icon.event-page {
  color: #FF533D;
  float: none !important;
  margin-right: 10px;
  display: inline-block;
}

.heart-container {
  margin-bottom: 10px;
  margin-top: 10px;
}

.button-content {
  /* padding-bottom: 14px; */
  /* position: absolute; */
  /* bottom: 0; */
  margin-top: 10px;
}

.heart.outline.large.icon.event-page:hover {
  cursor: pointer;
}

.container {
  height: 100%;
  position: relative;
}

.ui.button.unselect-gift {
  background-color: rgb(255, 236, 231);
  color: #FF533D;
}

.ui.card.find-gift.selected-person {
  box-shadow: none !important;
  border: solid rgb(255, 236, 231) !important;
}

.ui.card.find-gift.selected-person:hover {
  color: black !important;
  box-shadow: none !important;
  border: solid rgb(255, 236, 231) !important;
}

.ui.card.find-gift {
  box-shadow: none !important;
  border: solid white !important;
}

.ui.card.find-gift:hover {
  color: black !important;
  box-shadow: none !important;
  border: solid white !important;
}

/* ################## END EVENT PAGE ##################################### */


/* ########################## DASHBOARD ################################## */

#dashboard-header {
  margin-left: 150px;
  padding-top: 110px;
  padding-left: 5%;
  padding-right: 10%;
  padding-bottom: 40px;
  /* background-color: white; */
  background-image: url("https://res.cloudinary.com/dum7xzjkm/image/upload/v1555467260/etcdycn6jtj0g8ynotxf.png");
  background-repeat: no-repeat;
}

#dashboard-content {
  margin-top: 20px;
  margin-left: 150px;
  margin-bottom: 50px;
  padding-left: 5%;
  padding-right: 5%;
  background-color: rgb(249, 249, 249);
  min-height: 100vh;
}


#checklist-container {
  background-color: white;
  width: 400px;
  padding: 20px;
  display: inline-block;
}

#budget-status-container {
  background-color: white;
  width: 400px;
  padding: 20px;
  display: inline-block;
  margin-top: 30px;
}

#dashboard-budget {
  width: 125px;
}

.unchecked {
  color: rgb(220, 220, 220);
}

.inline {
  display: inline-block;
}

#next-event {
  padding-left: 30px;
}

.margin {
  margin-left: 50px;
}

.margin-right {
  margin-right: 20px;
}




#login-container {
  /* padding-top: 90px;
  padding-left: 15%; */
  width: 400px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
}

#create-account-form {
  /* padding-top: 90px;
  padding-left: 15%; */
  width: 600px;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.main-logo {
  color: #FF533D;
  font-family: 'Cherry Swash', cursive;
  font-size: 30px;
  padding-top: 100px;
  padding-left: 70%;
  font-size: 4em;
}

#login-page {
  height: 100vh;
  background-image: url("https://res.cloudinary.com/dum7xzjkm/image/upload/v1555465301/hytdoxzmcgpgdeou2iwu.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#photo-credit {
  position: absolute;
  bottom: 0;
}




/* ##########################   BUDGET PAGE   ############################ */


#budget-header {
  margin-left: 150px;
  padding-top: 110px;
  padding-left: 5%;
  padding-right: 10%;
  padding-bottom: 40px;
  /* background-color: white; */
  background-image: url("https://res.cloudinary.com/dum7xzjkm/image/upload/v1555467260/etcdycn6jtj0g8ynotxf.png");
  background-repeat: no-repeat;
}


.budget-content {
  margin-left: 150px;
  margin-bottom: 50px;
  padding-left: 5%;
  padding-right: 5%;
  background-color: rgb(249, 249, 249);
  /* min-height: 100vh; */
}

#budget-progress-container {
  background-color: white;
  width: 100vw;
  margin-left: 150px;
  padding-left: 5%;

}


.budget-edit {
  display: inline-block;
  padding-right: 10px;
}

.budget-edit-form {
  color: black;
  font-size: 16px;
  height: 25px;
}

.budget-text {
  font-size: 1.25em;
  padding-top: 20px;
}

.budget-text p {
  margin-top: -20px;

}

.border-line {
  border-style: solid;
  border-width: thin;
  border-color: black;
}

.year-arrow {
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
}

.budget-circle-container {
  margin-top: 20px;
  padding-bottom: 40px;
}

.budget-main-circle {
  width: 175px;
  display: inline-block;
  margin-left: 10%;
  text-align: center;

}

#annual-budget {
  display: inline-block;
  vertical-align: top;
  float: left;
}

.budget-spend-circle {
  width: 125px;
  display: inline-block;
  margin-left: 10%;
  text-align: center;
}

.budget-col {
  padding-left: 20px;
  font-size: 1.25em;
}

#budget-headings-container {
  background-color: white;
  width: 100vw;
  margin-bottom: 30px;
}

#budget-headings {
  margin-left: 150px;
  padding-left: 4%;
}

.budget-event-individual {
  margin-top: 10px;
  padding-left: 20px;
  background-color: white;
}

#end-of-event {
  margin-left: 0 !important;
  height: 10px;
  width: 100%;
  background-color: rgb(249, 249, 249);
}

.budget-event-row {
  font-size: 1.2em;
}


/* #######  BUDGET PAGE CIRCLE PROGRESS BARS   ############################ */
/*############################################################################S
 * react-circular-progressbar styles
 *
 * All of the styles in this file are optional and configurable!
 */

.CircularProgressbar {
  /*
   * This fixes an issue where the CircularProgressbar svg has
   * 0 width inside a "display: flex" container, and thus not visible.
   *
   * If you're not using "display: flex", you can remove this style.
   */
  width: 100%;
}

.CircularProgressbar .CircularProgressbar-path {
  stroke: rgb(29, 122, 201);

  stroke-linecap: round;
  transition: stroke-dashoffset 0.5s ease 0s;
}

.CircularProgressbar .CircularProgressbar-trail {
  stroke: #d6d6d6;
}

.CircularProgressbar .CircularProgressbar-text {
  fill: rgb(29, 122, 201);
  font-size: 20px;
  dominant-baseline: middle;
  text-anchor: middle;
}

.CircularProgressbar .CircularProgressbar-background {
  fill: #d6d6d6;
}

/*
 * Sample background styles. Use these with e.g.:
 *
 *   <CircularProgressbar
 *     className="CircularProgressbar-inverted"
 *     background
 *     percentage={50}
 *   />
 */
.CircularProgressbar.CircularProgressbar-inverted .CircularProgressbar-background {
  fill: #3e98c7;
}

.CircularProgressbar.CircularProgressbar-inverted .CircularProgressbar-text {
  fill: #fff;
}

.CircularProgressbar.CircularProgressbar-inverted .CircularProgressbar-path {
  stroke: #fff;
}

.CircularProgressbar.CircularProgressbar-inverted .CircularProgressbar-trail {
  stroke: transparent;
}
